@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
/**/
* {
    box-sizing: border-box;
}

:root {
    --main-color: #3867d6;
}

.nunito-class {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

/*body & html*/
/**/
body, html {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {
    background: #222;
    
}

/**/
section{
    padding: 2rem 5%;
}

/*heading*/
.heading {
    text-align: center;
    padding-top: 2rem;
    color: #fff; 
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color); 
    text-transform: uppercase;
}

/*service*/
.voucher .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
}

.voucher .box-container .box{
    border-radius: .5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;
}

.voucher .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main-color);
    color: #FFF;
}

.voucher .box-container .box h3{
    font-size: 2.5rem;
    color: #FFF;
    padding: 1rem 0;
}

.voucher .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    line-height: 1.8;
}

.voucher .box-container .box p span{
    color: var(--main-color);
}

/*menu*/
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 2rem; /* Adjusted padding */
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}


.btn:hover{
    background: var(--main-color);
}

/*menu header*/
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    
}

.header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
}

.header .logo span{
    color:var(--main-color)
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-right: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color)
}

/*menu header*/
.header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
}

.header .logo span {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-right: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
}

/* Style for change language */
#language-select {
    appearance: none; /* Remove default styles */
    width: 150px; /* Set width */
    padding: 10px; /* Add some padding */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    background: #fff url('path/to/your/dropdown-arrow-icon.png') no-repeat right 10px center; /* Add dropdown arrow icon */
    background-size: 15px; /* Size of the arrow icon */
    font-size: 1.6rem; /* Font size */
    color: #333; /* Text color */
    cursor: pointer; /* Cursor style */
}

/* Custom option styles */
#language-select option {
    background: none; /* No background for options */
    background-size: 8px; /* Adjust size of flags here */
    padding: 10px; /* Padding for options */
}


/* Styles for login and register buttons */
.user-actions {
    display: flex;
    align-items: center;
    justify-content: center; /* Center buttons horizontally */
}

.login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
}

/* Style for the sign-up container */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 3rem;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.user-actions {
    text-align: center; /* Centers the button */
    margin: 20px 0; /* Adds spacing above and below the button */
}

.user-actions .signup-btn {
    display: inline-block; /* Makes a block button */
    width: 100%; 
    max-width: 300px; 
    padding: 15px; 
    font-size: 18px; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    border: 2px solid #333; /* Adds a border  */
    cursor: pointer; /* Changes the cursor when hovering */
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.user-actions .signup-btn:hover {
    background-color: #555; 
    border-color: #555; 
    transform: scale(1.05); /* Adds zoom effect*/
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.login-container a {
    color: var(--main-color);
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.alternative-login p {
    text-align: center; 
    color: #333;
    margin: 20px 0;
}

.footer1 {
    text-align: center; /* Center footer text */
    color: #fff; /* Set footer text color */
    margin-top: 20px; /* Space above footer */
    font-size: 2rem;
}

.social-buttons {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Space above the icons */
}

.social-btn {
    font-size: 2rem; /* Adjust icon size */
    color: #fff; /* Change to desired text color */
    background-color: #444; /* Background color for social buttons */
    padding: 0.5rem; /* Padding for buttons */
    border-radius: 5px; /* Round corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
    display: flex; /* Align icon and text */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
}

.social-btn:hover {
    background-color: #fff; /* Change to desired hover color */
    color: #fff; /* Change text color on hover */
}

/* Optional: Add margin between icons */
.social-btn:not(:last-child) {
    margin-right: 1rem; /* Space between buttons */
}

.register {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
}

/* Style for the sign-up container */
.register-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.register-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 3rem;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.register-container button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container button:hover {
    background-color: #555;
}

.register-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-container a {
    color: var(--main-color);
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}


#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


/*home*/
.home .content{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 80rem;
}

.home .content h3{
    color: #FFF;
    font-size: 4.5rem;
    text-transform: uppercase;
    
}
.home .content h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}

.home .home-slider .swiper-slide {
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width: 35rem;
}

.home .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .content .btn {
    padding:2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top:-1rem;

}


/*about us*/
.about .heading{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 80rem;
}

.about .title h3{
    color: #FFF;
    font-size: 4.5rem;
    text-transform: uppercase;
}
.about .title h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}

/**/
.about .title h1{
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.about .statement{
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.about .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about .row .image img{
    width: 100%;
    border-radius: .5rem;
    border:1rem solid #333;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.8rem;
    color:#fff;
    padding: 1rem 0;
    line-height: 2;
}

/*Gallery*/
.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.gallery .box-container .box {
    position: relative;
    border: 1rem, solid, #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* This is what ensures images cover their boxes */
}

.gallery .box-container .box:hover img {
    transform: scale(1.1);
}

.gallery .box-container .box .title {
    position: absolute;
    top:-10rem; 
    left:0;
    right:0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 0rem;
    font-size: 2rem;
}

.gallery .box-container .box:hover .title {
    top:0;
}

.gallery .box-container .box .icons {
    position: absolute;
    bottom:-10rem; 
    left:0;
    right:0;
    background-color: #333;
    padding-top: 1rem;
    text-align: center;
}

.gallery .box-container .box:hover .icons {
    bottom: 0;
}

.gallery .box-container .box .icons a {
    font-size: 2rem;
    margin: .5rem 1rem;
    color:#fff;
    text-decoration: none;
}

.gallery .box-container .box .icons a:hover {
    color: var(--main-color);
}

.gallery .box-container .box .icons a.fa-heart.clicked {
    color: var(--main-color);
}

.gallery .heading{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 80rem;
}

.gallery h3 {
    color: #FFF;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.gallery h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}

/* Gallery Modal Styling */
#img-modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#img-modal {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
}

#img-modal img {
    width: 100%;
    height: auto;
    display: block;
}

#modal-close-btn, #prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color:whitesmoke;
}

#modal-close-btn {
    right: 20px;
    top: 20px;
    transform: none;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}


/* Price Section */
/* Price Page Specific Styles */
.price-page .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.price-page .swiper-wrapper {
    display: flex;
}

.price-page .swiper-slide {
    flex-shrink: 0;
    width: 300px; /* Adjust card width */
    margin-right: 20px; /* Add margin to create spacing between slides */
}

.card {
    width: 300px; /* Adjust the width to make it smaller */
    height: 450px; /* Increase the height to make it longer */
    background-color: #444;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.image-content {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 250px; /* Set the height of the image container */
    background-color: #f4f4f4; /* Background color for the image area */
}

.card-image {
    width: 100%; /* Set the container to 100% width of its parent */
    height: 250px; /* Set a fixed height for all images */
    overflow: hidden; /* Hide any overflowed parts of the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 100%; /* Ensures the image fits the card-image container */
    height: 100%;
    object-fit: cover; /* Ensures the image keeps its aspect ratio and doesn't get stretched */
}

.card-content {
    padding: 20px;
    text-align: center; /* Center the text inside the content area */
}

.card-content h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: var(--main-color);
}

.card-content ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.card-content ul li {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

.button {
    border: none;
    font-size: 18px;
    color: #eee;
    padding: 8px 16px;
    background-color: var(--main-color);
    border-radius: 6px;
    margin: 14px;
    margin-top: -1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--main-color);
}

.name {
    font-size: 25px;
    font-weight: 1000;
    color: whitesmoke;
    margin-top: -0.5rem;
}

.description {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.events-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.events-title h1 {
    font-size: 36px;
    color: orangered;
}

.card-content ul{
    list-style-type: none;
    padding: 1rem 0;
    margin-top: -2rem;
}

.card-content ul li{
    font-size:1.5rem;
    color:rgb(202, 199, 199);
    padding: .5rem 0;
    font-size: 2rem;
}

.card-content ul li i{
    color: var(--main-color);
    margin-right: 1rem;
}

/*review*/
.review .box{
    border-radius: .5rem;
    background: #333;
    padding: 2rem;
    position: relative;
}

.review .box .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    color: var(--main-color);
    font-size: 5rem;
}

.review .box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.review .box .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box .user h3{
    font-size: 2rem;
    color: #fff;
}

.review .box .user span{
    font-size: 1.5rem;
    color: #eee;
}

.review .box p{
    line-height: 2;
    color: #eee;
    padding: .5rem 0;
    font-size: 1.6rem;
}

/*contact*/
.contact {
    display: flex;
    flex-direction: column;  /* Ensure elements stack vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    text-align: center; /* Center the text */
}

.contact .heading {
    margin-bottom: 1.5rem; /* Add some space below the heading */
}

/* Style the form to have two columns */
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Two equal columns */
    gap: 1rem;  /* Space between columns */
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    background: #444;  /* Background color for the form */
    border-radius: .5rem;  /*  Rounded corners */
}

/* Style input boxes to take full width of their column */
.contact form .inputBox {
    display: flex;
    flex-direction: column;  /* Stack inputs vertically within inputBox */
    gap: 1rem;  /* Space between inputs */
}

.contact form .inputBox input {
    width: 100%;
    background: #333;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
    box-sizing: border-box;  /* Ensure padding and borders are included */
}

/* Make textarea and submit button span both columns */
.contact form textarea, .contact form input[type="button"] {
    grid-column: span 2;
    width: 100%;
    background: #333;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
    box-sizing: border-box;  /* Ensure padding and borders are included */
}

/* Additional styling for the submit button */
.contact form input[type="button"] {
    background: #555;  /* Submit button background color */
    border: none;  /* Emove border for the submit button */
    cursor: pointer;  /* Change cursor on hover */
}


/*footer*/
.footer{
    background:#111;
}

.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 2rem;
    padding: 1rem;
    color: #eee;
}

.footer .box-container .box a i{
    padding-right: 0.5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-bottom: 0.1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}


.footer .credit span{
    color:var(--main-color); 
}

/*theme*/
.theme-toggler{
    position: fixed;
    top: 10rem; right:-20rem;
    background: #333;
    z-index: 1000; 
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right: 0;
}

.theme-toggler h3{
    color:#fff;
    padding: 1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top: 0;
    left: -5.9rem;
    padding: 1.3rem 1.5rem;
    background: #333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*media-queries*/
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
  }

  /*media-queries*/
  @media (max-width: 768px) {
    #menu-bars {
        display: initial;
        }   

    .header .navbar {
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: #333;
        border-top: .1rem solid #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.5s ease; /* Add transition for smooth animation */
        }
    
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Shows the navbar */
        }

    .header .navbar a {
        display: flex;
        background: #222;
        border-radius: 0.5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
        }

    .fa-times {
        transform: rotate(180deg);
        }

    .home .content h3{
        font-size: 4rem;
        }
    }

  

  @media(max-width:450px){
    html{
        font-size: 50%;
    }

    .home .home-slider .swipper-slide {
        width: 27rem;
    }
  }